@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

body{
  background-color: black ;
}

.container{
  height: 300px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  font-weight: 200;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  color: white;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
}

button{
  background-color: #459e85;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300; 
  color: white;
  width: 100%;
  padding: 10px;
}

#header{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between ;
}